  .header {
        position: sticky;
        top: 0;
        z-index: 1000;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
        padding: 20px;
        background: #4c83d4;
        color: white;
        text-align: center;
        font-size: 1.2em;
    }
    .nav{
        display: flex;
        justify-content: space-between;
    }
    .nav a{
        color: white;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
    }
    .nav a:hover{
        border-bottom: 1px solid white;
    }
    .container {
        display: grid;
        /* THE MAGIC LINE FOR RESPONSIVENESS */
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 25px;
        padding: 40px 5%;
    }

    .new-container {
        border: 1px solid #e0e0e0;
        background: white;
        padding: 20px;
        border-radius: 15px;
        transition: transform 0.3s;
    }
    .new-container:hover { 
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0,0,0,0.1); 
    }

    .image { width: 100%; height: 180px; object-fit: contain; }
    
    .inner-container button {
        width: 100%; 
        padding: 10px;
        background: #4c83d4;
        color: white;
        border: none;
        border-radius: 8px;
        margin-top: 10px;
        cursor: pointer;
    }
    .cart-btn{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        font-size: 1.2em;
    }
    .cart-btn button{
        display: flex;
        background-color: #4c83d4;
        border: 1px solid white;
        color: white;
        border-radius: 5px;
        text-align: center;
        align-items: center;
    }
    #go-to-cart{
        font-size: 0.8em;
    }
    .search{
        display: flex;
        justify-content: flex-end;
    }
    .available h3{
        padding: 10px 0;
        font-size: 1.5rem;
    }